html {
    background-color: black;
}

h1{
    color: azure;
}


#graph {
    background-color: black;
    margin-top: 25px;
}

#check {
    color: azure;
    margin-top: 25px;
}

#texto1 {
    color: azure;
    margin-top: 15px;
    
}

#my-output{
    color: white;
}
